<div class="container">
  <div class="main-block">
    <img
      src="https://oj.ilmhub.uz/public/avatar/114ea53d55.png"
      alt=""
      class="profile-photo"
    />
    <div class="main-title">
      <h2 class="username">ibrohim1234</h2>
      <p class="description">for(;;)</p>
    </div>
    <div class="achives">
      <div class="solved">
        <p>Solved</p>
        <h3>84</h3>
      </div>
      <div class="submissions">
        <p>Submissions</p>
        <h3>364</h3>
      </div>
      <div class="rank">
        <p>Rank</p>
        <h3>76</h3>
      </div>
    </div>
  </div>
</div>
