<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container flex flex f-c">
        <img src="" alt="">
        <ul class="flex f-b">
            <li><a href="#" class="btn btn-danger">Explore</a></li>
            <li><a href="#">Problems</a></li>
            <li><a href="#">Contest</a></li>
            <li><a href="#">Discuss</a></li>
            <li><label for="interviews">Interview</label>
                <select name="inter" id="interviews">
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </li>
            <li><label for="storea">Store</label>

                <select name="store" id="storea">
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </li>
        </ul>
    </div>
</body>

</html>