li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;

}
.f-c{
    align-items: center;
    justify-content: center;
}
.f-b{
    align-items: center;
    justify-content: space-between;
    gap:30px;
}
body{
    background-color: #282828;
    color: #f5f3ed;
}

select{
    border-width: 0px;
}
.left-side{
    margin-right: 490px;
}
a{
    color: #f5f3ed;
}

select {
    background-color: transparent;
    border: 0px solid #282828;
    color: #fff;
}

.left-side ul:nth-child(6){
    width: 99px;
}